.container {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.console {
  background-color: #282c34;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 3rem 5rem;
}

.scaffold {
  background-color: #282c34;
  min-height: 100vh;
}

.input {
  width: 90%;
  margin-bottom: 50px;
}

.logo {
  margin-bottom: 20px;
}

.copyImage {
  width: 50px;
}

.urlDisplay{
  display: inline;
  font-size: calc(10px + 1.8vmin);
}

@media only screen and (min-width: 800px) {
  .copyImage {
    width:50px;
  }

  .urlDisplay {
    display: inline;
    font-size: calc(10px + 1.8vmin);
  }

  .copyImage:hover {
    opacity: 50%;
  }

  .input {
    width: 800px;
    margin-bottom: 50px;
  }
}
